

/*Colours*/
:root{
    --bool-darkest:#000000;
    --bool-light:#4A4A4A;
    --bool-medium:#222222;
    --bool-lighter:#ffffff;
    --bool-single:#4BC800;
}

body{
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    background-color: #000000;
    margin:0;
}

/*Utilities*/
.container{
    width: 80%;
    max-width: 1200px;
    margin: auto;
}

/*Header things*/
nav{
    display: flex;
    justify-content: end;
    height: 100%;
    gap: 5px;
    align-items: center;
}

#site_nav{
    padding-right: 3px;
    padding-top: 3px;
}

.buttons_top{
    background-color: #4A4A4A;
    border-radius: 0.2rem;
    padding: 3px;
    font-size: x-small;
}


/*Main things*/
#site_main{
    padding-top: 40px;
    padding-bottom: 40px;
}

/*row used for contain 7 column then ->Wrap*/
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: -1rem;
    margin-right: -1rem;
}

/*Split row in 7*/
.col_7{
    width: calc((100% / 12)*(12/7));
    padding: 0.25rem;
}

.card{
    position: relative;
}

/*Pinco Panco position*/
.call_name{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: smaller;
    background-color: #4a4a4ac4;
    padding: 3px;
}

.dogs{
    max-width: 100%
}



/*Footer things*/
/*Change background*/
#site_footer{
    background-color:#222222;
}

.footer_container{
display: flex;
justify-content: space-between; 
/*spread three big things of footer*/
}


.button_down_row{
    /*same thing of main*/
    display: flex;
    padding: 0.75rem;
}

.footer_column{
    gap: 8px;
    font-size: large;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

}

.card_footer{
    display: flex;
    flex-direction:column ;/*need it to contain text*/
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.text_button{
    font-size: xx-small;
}
.arrow{
    font-size:xx-small;
    padding-left: 0;    
}

.green_icon{
    color: #4BC800;
}

.text_button_right{
color: red;
font-size: x-small;
}

.footer_right{
    /*without column - need to centre*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #4A4A4A;
}
/*Debug things*/
